* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #360E61;
}